.list {
	h2 {
		padding: .5em .5em .3em .5em;
		border-radius: .5em;
		color: $blue-light;
		background-color: $blue-dark;
		margin-bottom: .5em;
		box-shadow: 0 .1em .1em black;

		display: flex;
		flex-direction: row;

		span { flex-grow: 1; }
		
		a {
			flex-shrink: 1;
			border: none;
			
			&:hover {
				border: none;
				color: white;
				text-shadow: 0 0 .5em $blue-light;
			}
		}
	}
}

.activities {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;

	gap: 1em;

	.activity-record {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		border: none;

		gap: 1ch;

		padding: .5em;
		border-radius: .5em;
		background-color: $blue-dark;

		box-shadow: 0 0 .3em black;

		> * {
			box-shadow: 0 0 .2em black;
		}

		&:hover {
			border: none;
			background-color: $blue-dark-highlight;
			box-shadow: 0 .1em .5em $background-primary;
		}
	}
}

.activity {
	> * {
		display: flex;
		flex-direction: column;
		padding: .3em 1ch;
		border-radius: .5em;

		.label, label {
			font-size: .5em;
			color: lightgray;
			font-family: 'Krona One', sans-serif
		}
		//.value { }
	}

	input, textarea {
		border-radius: .5em;
		margin-left: -3px;
		margin-right: -3px;
	}

	.name {
		background-color: $blue-medium;
		flex-shrink: 0;
		flex-grow: 1;
	}
	input[name=name] {
		font-size: 1.3em;
		font-family: 'Syncopate', sans-serif;
	}
	.time {
		background-color: $blue-medium-light;
		flex-shrink: 0;
	}
	.description {
		background-color: $blue-medium-dark;
		flex-basis: 100%;
	}

	button {
		place-items: center;
		font-family: 'Krona One', sans-serif
	}
}


.edit {
	form {
		display: grid;
		gap: .75em;

		grid-template-columns: 1fr 1fr;
		
		grid-template-rows: repeat(5, auto);
		grid-template-areas:
			"name name"
			"start start"
			"end end"
			"description description"
			"submit delete";

		@media (min-width: 412px) {
			grid-template-rows: repeat(4, auto);
			grid-template-areas:
				"name name"
				"start end"
				"description description"
				"submit delete";
		}

		> * {
			box-shadow: 0 0 .2em $background-primary;
		}

		.name {
			grid-area: name;
		}
		.start {
			grid-area: start;
		}
		.end {
			grid-area: end;
		}
		.description {
			grid-area: description;
		}
		[name="submit"] {
			grid-area: submit;
			background-color: $blue-medium;
		}
		[name="delete"] {
			grid-area: delete;
			background-color: $blue-dark;
		}
	}
}