$background-primary: #222222;
$background-secondary: #3b3b3b;
$blue-light: #B1C9E2;
$blue-medium-light: #7b93ad;
$blue-medium: #4277A5;
$blue-medium-dark: #2c5282;
$blue-dark-highlight: #074068;
$blue-dark: #002E4F;